/* Basic Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    line-height: 44px;
    color: paleturquoise;
    background-image: url(../images/meow2.gif);
}
header{
width: 100%;
height: 90px;
background-color: pink;
padding: 20px;

}
nav ul li{
    display: inline-block;
    margin-right: 30px;
    font-size: 12px;



    
}
main, footer {
    padding: 20px;
}

main article p {
   /* max-width: 68ch; */
    max-width: 800px;
}

main{
    background-color: pink;
    padding-top:197px;
}
footer{
    background-color:  rgb(187, 139, 250);
    background-repeat: no-repeat;
    background-size: cover;
}

.fancy-button{
    background-color: pink;
    padding: 20px 35px;
    box-shadow: 2px 4px 10px ;
    border: 2px paleturquoise;
border-radius: 10px;
}
.fancy-button:hover {
    background-color: aqua;
    color: pink;

}

/*Styling the Forms*/

input[type=text],
input[type=password],   
input [type=submit],
textarea {   
display: block;
padding: 10px;
border: 1px solid paleturquoise;
margin-bottom: 16px;
border-radius: 10px;
width: 260px;
}